/*To add:
-Button Functionality
-Images for designers/devs
-Mobile
*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
}

button {
	font-family: 'Oswald', sans-serif;
	width: 100%;
	background: #C6C6C6;
	padding: 3%;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	font-size: 1.2em;
	letter-spacing: 1px;
	/*Reset*/
	border-width: 0;
	/*Shadow Styling*/
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	cursor: pointer;
}

footer {
	background-color: black;
	overflow: hidden;
	padding: 0px 1%;
	color: white;
	padding: 1% 0 1% 8%;
	font-size: 0.6em;
}

p {
	margin-top: 0;
	margin-bottom: 1.5em;
	font-size: 1.2em;
}

del {
	color: gray;
}

ins {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}

.homeNav_block h1 {
	font-family: 'Merriweather', serif;
	margin-bottom: 3px;
}

.global_header{
	background-color: black;
	border-bottom: 3px solid yellow;
	overflow: hidden;
	padding: 0px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Have to specify different padding for the different fonts,
else there is a gap between the top and yellow line.*/

.nav.selected {
	display: block;
	box-sizing: border-box;
	background-color: #666;
	padding: 1.5em 15px;
	margin: 0;
}

.nav_bold.selected {
	padding: 1.4em 15px;
}

.logo{
	text-decoration: none;
	color: yellow;	
	font-family: 'Merriweather', serif;
}

.nav_links{
	display: flex;
	align-items: center;
}

.nav_links a {
	text-decoration: none;
	color: white;
}

.nav_bold {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.nav {
	margin: 0 15px;
	font-size: 1.2em;
	box-sizing: border-box;
	display: flex;
}

.nav_links a:hover {
	color: yellow;
}

.slogan {
	overflow: hidden;
	background-color: #C6C6C6;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 70%;
	padding: 0.5% 0;
}

.splash {
	display: flex;
	background-image: url("../images/coworking.jpg");
	background-position: center;
	background-size: cover;
	overflow: hidden;
	justify-content: flex-end;
	padding: 2% 5% 2% 2%;
}

.splash_textbox {
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	width: 35%;
	padding: 4%;
	background-color: rgba(255,255,255,0.8);
	box-sizing: border-box;
}

.splash_textbox h1 {
	font-weight: bold;
	display: inline;
}

.textbox_button {
	background-color: yellow;
}

.homeNav_button a {
	text-decoration: none;
	color: inherit;
}

.homeNav_container {
	display: flex;
	padding: 2%;
}

.homeNav_block:last-child {
	box-shadow: none;
}

.homeNav_block {
	box-sizing: border-box;
	padding: 2% 3%;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}

/*Cards start here*/

.bodyCards{
	background-color: #C6C6C6;
}

.cards {
	margin:auto;
	max-width: 80%;
	padding: 2% 0;
}

.row {
	display: flex;
}

.card {
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	background-color: white;
}

.card_name {
	margin: 0 0 5px 0; 
	font-size: 1.2em;
	font-weight: normal;
}

.card_button {
	background-color: yellow;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
}

.card_skills {
	list-style: none;
	padding-left: 0;
	margin: 0 0 10px 0;
}

.card_skill {
	text-transform: uppercase;
	display: inline;
	background-color: #666;
	padding: 1px 12px;
	border-radius: 100px;
	color: white;
	margin-right: 5px;
	padding-bottom: 4px;
}

.design .card_skill {
	text-transform: none;
	font-size: .9em;
	margin-right: 3px;
}


